In [54]:
from pykrx import stock
from pykrx import bond
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

### pykrx의 종목 리스트 선정

일단 확인차 코스닥 상장 종목들의 ticker들을 불러와보자.

In [3]:
tickers = stock.get_market_ticker_list(market="KOSDAQ")

In [4]:
tickers

['060310',
 '054620',
 '265520',
 '211270',
 '126600',
 '013720',
 '035760',
 '311690',
 '051500',
 '058820',
 '023460',
 '056730',
 '065770',
 '083660',
 '404950',
 '367340',
 '367360',
 '060900',
 '025440',
 '068790',
 '241520',
 '065150',
 '180400',
 '245620',
 '037370',
 '050120',
 '214270',
 '130500',
 '900290',
 '083450',
 '297890',
 '078150',
 '195940',
 '028300',
 '278650',
 '067630',
 '024850',
 '047920',
 '115450',
 '403870',
 '036640',
 '405350',
 '426550',
 '439730',
 '442770',
 '448760',
 '095340',
 '099520',
 '950170',
 '067290',
 '035900',
 '318000',
 '024840',
 '024120',
 '021320',
 '036670',
 '044180',
 '151860',
 '046440',
 '035600',
 '226360',
 '111870',
 '060720',
 '058400',
 '114450',
 '060370',
 '122450',
 '052900',
 '376190',
 '061970',
 '309960',
 '086960',
 '038340',
 '160550',
 '053290',
 '060250',
 '104200',
 '030190',
 '024940',
 '218410',
 '327260',
 '091340',
 '419530',
 '019550',
 '950110',
 '046140',
 '151910',
 '036120',
 '099220',
 '036540',
 '255220',
 '040610',
 '049470',
 '184230',
 '016250',
 '048550',
 '063440',
 '289080',
 '089230',
 '161570',
 '032540',
 '022220',
 '048770',
 '246690',
 '317240',
 '057030',
 '040300',
 '051390',
 '052220',
 '079940',
 '078890',
 '399720',
 '036620',
 '217730',
 '114190',
 '094480',
 '039240',
 '053950',
 '011040',
 '024910',
 '198440',
 '049720',
 '014570',
 '348150',
 '098460',
 '035290',
 '038530',
 '900280',
 '215000',
 '121440',
 '366030',
 '014200',
 '029480',
 '026910',
 '397880',
 '421800',
 '440790',
 '053270',
 '066620',
 '043650',
 '006050',
 '060480',
 '078130',
 '307750',
 '035080',
 '204020',
 '186230',
 '900070',
 '204620',
 '019660',
 '053260',
 '282720',
 '036190',
 '049080',
 '420770',
 '035460',
 '308100',
 '407400',
 '187790',
 '286750',
 '121600',
 '247660',
 '039860',
 '091970',
 '417010',
 '051490',
 '137080',
 '190510',
 '242040',
 '089600',
 '293580',
 '138610',
 '130580',
 '036800',
 '267320',
 '111710',
 '091590',
 '168330',
 '094860',
 '253590',
 '212560',
 '095660',
 '042420',
 '950220',
 '311390',
 '085910',
 '092730',
 '290660',
 '306620',
 '153460',
 '007390',
 '033640',
 '330860',
 '089140',
 '137940',
 '396270',
 '348210',
 '225570',
 '217270',
 '104620',
 '194700',
 '285490',
 '106520',
 '376930',
 '142280',
 '234690',
 '065560',
 '054050',
 '069140',
 '040160',
 '332290',
 '348340',
 '060260',
 '012340',
 '214870',
 '270870',
 '144960',
 '085670',
 '064260',
 '340360',
 '039560',
 '154040',
 '032190',
 '068240',
 '020400',
 '008830',
 '048470',
 '004780',
 '017650',
 '007720',
 '389260',
 '317850',
 '290670',
 '078140',
 '036480',
 '027830',
 '104040',
 '129920',
 '438220',
 '442310',
 '020180',
 '045390',
 '108380',
 '006580',
 '007680',
 '048910',
 '005710',
 '290380',
 '290120',
 '120240',
 '003310',
 '078600',
 '096350',
 '140520',
 '131220',
 '010170',
 '054670',
 '023910',
 '021040',
 '021045',
 '067080',
 '298540',
 '393890',
 '299170',
 '224060',
 '213420',
 '317330',
 '077360',
 '090410',
 '263600',
 '194480',
 '263800',
 '206560',
 '261200',
 '067990',
 '006620',
 '100130',
 '005160',
 '075970',
 '086450',
 '099410',
 '033500',
 '025950',
 '088130',
 '041930',
 '060380',
 '079960',
 '228340',
 '088910',
 '094170',
 '013120',
 '109860',
 '032960',
 '023790',
 '005290',
 '025900',
 '131970',
 '073190',
 '030350',
 '203650',
 '223250',
 '060570',
 '217620',
 '016670',
 '187870',
 '066670',
 '110990',
 '078590',
 '263690',
 '214680',
 '263720',
 '376300',
 '141020',
 '109740',
 '196490',
 '066900',
 '127120',
 '092070',
 '039840',
 '219550',
 '310870',
 '104460',
 '079810',
 '113810',
 '043360',
 '197140',
 '068930',
 '033130',
 '105740',
 '263020',
 '290550',
 '187220',
 '383930',
 '131180',
 '315640',
 '317120',
 '042510',
 '232680',
 '418420',
 '300120',
 '171120',
 '388790',
 '069540',
 '347700',
 '214260',
 '200350',
 '171010',
 '084650',
 '217500',
 '141080',
 '038390',
 '294140',
 '228670',
 '228850',
 '412350',
 '281740',
 '277810',
 '215100',
 '090360',
 '108490',
 '900260',
 '067730',
 '071280',
 '328130',
 '038060',
 '085370',
 '08537M',
 '060240',
 '058470',
 '039980',
 '019570',
 '016100',
 '012700',
 '302550',
 '377450',
 '277070',
 '042500',
 '219420',
 '195500',
 '377480',
 '305090',
 '098120',
 '424980',
 '038290',
 '267980',
 '005990',
 '093520',
 '377030',
 '100590',
 '067280',
 '072870',
 '215200',
 '133750',
 '235980',
 '041920',
 '014100',
 '054180',
 '086900',
 '078160',
 '065650',
 '408920',
 '021880',
 '140410',
 '241770',
 '059210',
 '058110',
 '096640',
 '257370',
 '434480',
 '080420',
 '417970',
 '080160',
 '087260',
 '101330',
 '012860',
 '363260',
 '348030',
 '250060',
 '288980',
 '033200',
 '333050',
 '118990',
 '006920',
 '001810',
 '279600',
 '095500',
 '254490',
 '218150',
 '442900',
 '100790',
 '412930',
 '446190',
 '448830',
 '049950',
 '207760',
 '059090',
 '214610',
 '201490',
 '950190',
 '206640',
 '018700',
 '035620',
 '053030',
 '301300',
 '064550',
 '314930',
 '208710',
 '086820',
 '038460',
 '251120',
 '199730',
 '086040',
 '099430',
 '032980',
 '222160',
 '308080',
 '043150',
 '323990',
 '267790',
 '046310',
 '331520',
 '066410',
 '382900',
 '206400',
 '019010',
 '177350',
 '299910',
 '424760',
 '225530',
 '250000',
 '310210',
 '006910',
 '226340',
 '014470',
 '008470',
 '338220',
 '100120',
 '337930',
 '099390',
 '064480',
 '288330',
 '365900',
 '251630',
 '018290',
 '044480',
 '033560',
 '369370',
 '126340',
 '121800',
 '148140',
 '082800',
 '318410',
 '419540',
 '146320',
 '200780',
 '141000',
 '090460',
 '083650',
 '445360',
 '142760',
 '065170',
 '086670',
 '335890',
 '138580',
 '082920',
 '054220',
 '042370',
 '050090',
 '307870',
 '357880',
 '032850',
 '148780',
 '238200',
 '093190',
 '065450',
 '072950',
 '143240',
 '419120',
 '122350',
 '419050',
 '014970',
 '018310',
 '053700',
 '009620',
 '023600',
 '380320',
 '377630',
 '425290',
 '439250',
 '448740',
 '009300',
 '225190',
 '361670',
 '054540',
 '065570',
 '032280',
 '002290',
 '037460',
 '032750',
 '054090',
 '000250',
 '024950',
 '038500',
 '017480',
 '046390',
 '027580',
 '038540',
 '101000',
 '415580',
 '091580',
 '263810',
 '089980',
 '042940',
 '042600',
 '107600',
 '411080',
 '252990',
 '378800',
 '294630',
 '038070',
 '006730',
 '079650',
 '100660',
 '019770',
 '043710',
 '092190',
 '046890',
 '063170',
 '027040',
 '018680',
 '093920',
 '189860',
 '178320',
 '122690',
 '140070',
 '011370',
 '065710',
 '035890',
 '357550',
 '003100',
 '067370',
 '171090',
 '086710',
 '014620',
 '037350',
 '081580',
 '045300',
 '015750',
 '365340',
 '080470',
 '043260',
 '148150',
 '053060',
 '340440',
 '017510',
 '011560',
 '396300',
 '100700',
 '024830',
 '258830',
 '036630',
 '039310',
 '067770',
 '053450',
 '222810',
 '252500',
 '347000',
 '331920',
 '049180',
 '299660',
 '268600',
 '108860',
 '208370',
 '318160',
 '068760',
 '091990',
 '068940',
 '060230',
 '290690',
 '950200',
 '032680',
 '032685',
 '258790',
 '066910',
 '043100',
 '035610',
 '357780',
 '036830',
 '304100',
 '328380',
 '086980',
 '050960',
 '084180',
 '253840',
 '298830',
 '236200',
 '317770',
 '094840',
 '192440',
 '136510',
 '099440',
 '033790',
 '276040',
 '159910',
 '115570',
 '330730',
 '253450',
 '408900',
 '204630',
 '013810',
 '049830',
 '020710',
 '033170',
 '048870',
 '025320',
 '269620',
 '131090',
 '139050',
 '290520',
 '001000',
 '025870',
 '215600',
 '065350',
 '162300',
 '002800',
 '419270',
 '430220',
 '445970',
 '017000',
 '012790',
 '138070',
 '226330',
 '418210',
 '366330',
 '393360',
 '405640',
 '056700',
 '187270',
 '243840',
 '257720',
 '222800',
 '036710',
 '160980',
 '356890',
 '217330',
 '010280',
 '208640',
 '222420',
 '037760',
 '099320',
 '049960',
 '050890',
 '066790',
 '222080',
 '352480',
 '264660',
 '352700',
 '297090',
 '359090',
 '115530',
 '115480',
 '340810',
 '376290',
 '189330',
 '096530',
 '900120',
 '101240',
 '060590',
 '260930',
 '013990',
 '123860',
 '025980',
 '058220',
 '125210',
 '357580',
 '052710',
 '074430',
 '092040',
 '083930',
 '149950',
 '036010',
 '050860',
 '136410',
 '246720',
 '067390',
 '159010',
 '127710',
 '154030',
 '227610',
 '143160',
 '054800',
 '332370',
 '339950',
 '099190',
 '289010',
 '214430',
 '040910',
 '368600',
 '052860',
 '069920',
 '038880',
 '307180',
 '101390',
 '078860',
 '090150',
 '123010',
 '031310',
 '185490',
 '059100',
 '262840',
 '175250',
 '052460',
 '119830',
 '052770',
 '124500',
 '372800',
 '084850',
 '114840',
 '027360',
 '032080',
 '013310',
 '059120',
 '158430',
 '067160',
 '001540',
 '053800',
 '065660',
 '297570',
 '260660',
 '361570',
 '215790',
 '131370',
 '140670',
 '096610',
 '061040',
 '148250',
 '347860',
 '196170',
 '123750',
 '085810',
 '117670',
 '314140',
 '291650',
 '293780',
 '196300',
 '310200',
 '179530',
 '900100',
 '205500',
 '052790',
 '290740',
 '238090',
 '092600',
 '129890',
 '174900',
 '255440',
 '030960',
 '073570',
 '102120',
 '263540',
 '238120',
 '019990',
 '270660',
 '038680',
 '217480',
 '121890',
 '097780',
 '304360',
 '389500',
 '042110',
 '298060',
 '065420',
 '103230',
 '260970',
 '101490',
 '095910',
 '275630',
 '031330',
 '060540',
 '351320',
 '056190',
 '080000',
 '214310',
 '041510',
 '007820',
 '109610',
 '306040',
 '435870',
 '096630',
 '069510',
 '041910',
 '234300',
 '039440',
 '098660',
 '052020',
 '237690',
 '050760',
 '288620',
 '317830',
 '058610',
 '043340',
 '187660',
 '054630',
 '200710',
 '096690',
 '298380',
 '203400',
 '195990',
 '003800',
 '088800',
 '241840',
 '312610',
 '072990',
 '227100',
 '239610',
 '353060',
 '148930',
 '044780',
 '357230',
 '071670',
 '045660',
 '224110',
 '230980',
 '021080',
 '089530',
 '200470',
 '262260',
 '109960',
 '397030',
 '089970',
 '230240',
 '230360',
 '038870',
 '101360',
 '128540',
 '086520',
 '247540',
 '383310',
 '038110',
 '073540',
 '064850',
 '036810',
 '173940',
 '083500',
 '054940',
 '043090',
 '950130',
 '205100',
 '356680',
 '070300',
 '092870',
 '317870',
 '067570',
 '236810',
 '333620',
 '101400',
 '031860',
 '391060',
 '422040',
 '437780',
 '438580',
 '439410',
 '440820',
 '450410',
 '265740',
 '354200',
 '419080',
 '208860',
 '183490',
 '182400',
 '348370',
 '058450',
 '069410',
 '227950',
 '291230',
 '198080',
 '048830',
 '096870',
 '138690',
 '290650',
 '066970',
 '156100',
 '073110',
 '083310',
 '037950',
 '170920',
 '058630',
 '058970',
 '019590',
 '169330',
 '179290',
 '009780',
 '123040',
 '323230',
 '032790',
 '033160',
 '347890',
 '033310',
 '259630',
 '115960',
 '060850',
 '143540',
 '036560',
 '265560',
 '036000',
 '250930',
 '053280',
 '122640',
 '900300',
 '045060',
 '080520',
 '039830',
 '322310',
 '046120',
 '014940',
 '065500',
 '010470',
 '417860',
 '352910',
 '053980',
 '052420',
 '241790',
 '039200',
 '226400',
 '031510',
 '048260',
 '368970',
 '138080',
 '080580',
 '067170',
 '353590',
 '173130',
 '049480',
 '394280',
 '309930',
 '244460',
 '226950',
 '057540',
 '131030',
 '082210',
 '109080',
 '380540',
 '153710',
 '321820',
 '122990',
 '112290',
 '232140',
 '065530',
 '067900',
 '007530',
 '155650',
 '273640',
 '251370',
 '066430',
 '193250',
 '273060',
 '019210',
 '122870',
 '332570',
 '079000',
 ...]

 위에서 불러온 ticker 중에서 아무거나 샘플로 추출하여 종목명을 확인해보자.

In [5]:
sample = stock.get_market_ticker_name('065770')

In [6]:
sample

'CS'

확인을 해봤으니 이제 본격적으로 각 시장에서 ticker들과 종목명을 불러와 데이터 프레임으로 만들어보자.

In [55]:
market_list = ['KOSPI', 'KOSDAQ', 'KONEX']

In [56]:
ticker_df = pd.DataFrame()

In [57]:
for market_value in market_list : # 3개의 마켓 호출
    print(market_value)
    # 각 마켓에 대한 ticker_list 생성
    ticker_list = stock.get_market_ticker_list(market=market_value)
    for ticker_value in ticker_list : # 각 ticker_list 호출
        # 각 ticker에 대한 회사 이름 추출
        corp_name = stock.get_market_ticker_name(ticker_value)
        
        # 현재까지 얻은 정보
        # 마켓 이름, ticker, 회사 이름
        ticker_info_df = pd.DataFrame({
            'ticker':[ticker_value],
            'corp_name':[corp_name],
            'market':[market_value]
            
        })
        ticker_df = pd.concat([ticker_df,ticker_info_df])

KOSPI
KOSDAQ
KONEX

인덱스를 정리하여 최종 ticker_df으로 설정해주자

In [19]:
ticker_df = ticker_df.reset_index(drop=True)

만들어진 마스터 데이터 프레임을 저장하여 확인해보자

In [58]:
ticker_df.to_csv('master_frame.csv',index=False)

In [59]:
pd.read_csv('master_frame.csv')

      ticker corp_name market
0     095570    AJ네트웍스  KOSPI
1     006840     AK홀딩스  KOSPI
2     027410       BGF  KOSPI
3     282330    BGF리테일  KOSPI
4     138930   BNK금융지주  KOSPI
...      ...       ...    ...
2713  150440       피노텍  KONEX
2714  242350   피엔아이컴퍼니  KONEX
2715  331660  한국미라클피플사  KONEX
2716  107640    한중엔시에스  KONEX
2717  212310       휴벡셀  KONEX

[2718 rows x 3 columns]

마스터 데이터 프레임에서 특정 종목(에코프로비엠) 하나를 선정하여 확인해보자. 여기서 추출방식은 ticker를 사용한다.

In [60]:
echo = ticker_df[ticker_df['ticker'] == '247540']

In [61]:
echo

   ticker corp_name  market
0  247540    에코프로비엠  KOSDAQ

이제 원하는 종목들 6가지를 추출할 것이다.
여기서는 2차전지 관련 종목 3가지와 마이데이터 관련 종목 3가지를 정하여 각각을 추출할 것이다. 해당 종목의 ticker들은 증권홈페이지에서 쉽게 찾을 수 있다.

- 삼성SDI : 006400 
- LG에너지솔루션 : 373220 
- 에코프로비엠 : 247540
- NICE평가정보: 030190 
- 파이오링크: 170790 
- 헥토이노베이션: 214180

ticker로 해당 종목을 추출하는 방식은 여러가지가 있는데, 그 중 두가지 방법으로 추출을 해보려고 한다.
하나는 반복문을 통한 추출이다.

In [67]:
battery_ticker = pd.DataFrame()  #2차전지 관련주 추출

In [68]:
sample_ticker_list = ['006400','373220','247540']

In [69]:
for sample_list in sample_ticker_list:
    print(sample)
    df_battery =  ticker_df[ticker_df['ticker'] == sample_list]
    battery_ticker = pd.concat([battery_ticker,df_battery])

CS
CS
CS

In [70]:
battery_ticker

   ticker corp_name  market
0  006400     삼성SDI   KOSPI
0  373220  LG에너지솔루션   KOSPI
0  247540    에코프로비엠  KOSDAQ

또 다른 하나는 contains 메소드를 활용한 방법이다.

In [73]:
battery_ticker = ticker_df[ticker_df['ticker'].str.contains('006400|373220|247540')] # '|'는 or을 뜻한다. 
battery_ticker

   ticker corp_name  market
0  373220  LG에너지솔루션   KOSPI
0  006400     삼성SDI   KOSPI
0  247540    에코프로비엠  KOSDAQ

인덱스를 정리해주자

In [78]:
battery_ticker = battery_ticker.reset_index(drop=True)
battery_ticker

   ticker corp_name  market
0  373220  LG에너지솔루션   KOSPI
1  006400     삼성SDI   KOSPI
2  247540    에코프로비엠  KOSDAQ

위 2가지 방법 중 개수가 많지 않을 경우에는 후자를 더 추천한다.

이번에는 같은 방식으로 마이데이터 관련주를 추출해보자.

In [75]:
mydata_ticker = ticker_df[ticker_df['ticker'].str.contains('030190|170790|214180')]
mydata_ticker

   ticker corp_name  market
0  030190  NICE평가정보  KOSDAQ
0  170790     파이오링크  KOSDAQ
0  214180   헥토이노베이션  KOSDAQ

In [80]:
mydata_ticker = mydata_ticker.reset_index(drop=True)
mydata_ticker

   ticker corp_name  market
0  030190  NICE평가정보  KOSDAQ
1  170790     파이오링크  KOSDAQ
2  214180   헥토이노베이션  KOSDAQ